{% include 'base/index.html' %} {% block content %}
    <h2>Employee Department List:</h2>
    <table class="table table-primary" id="example">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col">floor</th>
          </tr>
        </thead>
        <tbody>
            {% for data in dData %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.name}}</td>
                <td>{{data.floor}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <script>
        new DataTable('#example');
      </script>
{% endblock %}